.custom-button,
input[type="submit"] {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 60px;
  border: 1px solid #ea7704;
  background-color: #ea7704;
  color: #fff;
  transition: all 0.2s linear;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #fff;
  color: #ea7704;
  border: 1px solid #ea7704;
}

.whatsapp {
  border: 1px solid #25d366;
  background-color: #25d366;
  color: fff;
}

.whatsapp:hover {
  border: 1px solid #25d366;
  background-color: #fff;
  color: #25d366;
}

.whatsapp ion-icon {
  font-size: 2rem;
}
